    <div class="velog_header">
        <div>
            <a href="{% url 'accountapp:helloworld' %}" style="text-decoration:none; color: black; "><h1 class="velog_logo">My Programming Velog</h1></a>
            <h4 class="velog_header_writer">JLee's Velgo</h4>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            <!-- 유저가 로그인 안 되어 있을 경우 -->
            {% if not user.is_authenticated %}
            <!-- login 창으로 넘어가는 화면으로 전송되는 메뉴를 보여주고, url 값을 next 인자에 넣고 전달 -->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            <!-- 유저가 로그인 되어 있을 경우 -->
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>My page</span>
            </a>
            <!-- logout 창으로 넘어가는 화면으로 전송되는 메뉴를 보여주고, url 값을 next 인자에 넣고 전달 -->
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>