{% extends 'base.html' %}

{% block content %}

    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem;">
      <h1>
          TEST ! ! !
      </h1>
      <!-- method에 GET, POST 방식인지를 설정 -->
      <form action="/account/helloworld/" method="post">
          <!-- Django를 이용해서 POST 방식으로 보낼 땐 csrf_token이 필요하다 이유는 crsf 취약점을 이용한 악의적인 공격으로 부터 보호하기 위함-->
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="POST">
      </form>
      <h1>
          <!-- views.py에서 작성한 context 내용을 불러오는 부분 -->
          {{ text }}
      </h1>
    </div>

{% endblock %}